*__pycache__*
*.log
.idea*
autotrader.egg-info
build
dist
degiro.config
config.ini
.cache/
coverage.xml
html_report/
autotrader/test_data/Dump20171027.sql
report.xml
.coverage
config_test.ini
config_*.ini
autotrader/tests/nosetests.xml
venv
.vscode/settings.json
docker/unit/data/Dump20171027.sql
